.metronome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.metronome__top {
  display: flex;
  flex-direction: row;
  justify-content: center; 
}

.metronome__slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 1rem;
  width: 80%;
  color: black
}

.metronome__play-pause {
  background: #f0f0f0;
  color: black;
  margin-left: 1rem;
}

.slider__button {
  background: #f0f0f0;
  color: black;
}

.rc-slider-handle {
  border: black;
}

.rc-slider-track {
  background-color: black;
}